* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background: #111112;
}

.login,
.register {
  background-color: #1c1c1e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.login img,
.register img {
  position: absolute;
  top: -10%;
  left: 46%;
  width: 100px;
  height: 100px;
}

.login h1,
.register h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  padding-left: 55px;
  letter-spacing: 4px;
}

.login label,
.register label {
  color: #ffffff;
}

.login input,
.register input {
  margin: 16px;
  width: 100%;
}

.login input[type="text"],
.login input[type="password"],
.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  height: 32px;
  font-size: 14px;
  color: #ffffff;
}

.login input[type="submit"],
.register input[type="submit"] {
  border: none;
  background-color: #8fff6a;
  height: 30px;
  text-align: center;
}

.login a,
.register a {
  color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login a:hover,
.register a:hover {
  color: #ffffff;
}

.button-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 24px;
}
